1ake_cg
spike_MD*_cg
IgG-*
*.out
*.ipynb
*.txt
slurm_eval
*.err
1ake/
1ake_cg/
10073/
10073_test/
*.out
10792/
# *.mdp
tutorial_data_1ake/
submit_task.sh
1ake_density/
*.egg-info/
build/
projects/1ake*
# projects/struct_prior
projects/*npy
projects/*pdf
projects/__pycache__
projects/*ipynb

*.pyc
