1ake_cg
spike_MD*_cg
IgG-*
*.out
*.ipynb
*.zip
*.txt
slurm_eval
*.err
1ake/
1ake_cg/
tutorial_data_1ake/
submit_task.sh
1ake_density/
*.egg-info/
build/
projects/1ake*
projects/star
projects/struct_prior
projects/*npy
projects/*pdf
projects/__pycache__
projects/*ipynb

*.pyc
